:root {
  --light-bg: #f1f7fc;
  --dark-bg: #1B2430;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f1f7fc;
  transition: 0.3s ease;
}